VITE_API_URL=https://dara-digital-backend-1.onrender.com/api
VITE_BACKEND_URL=https://dara-digital-backend-1.onrender.com
VITE_SUPABASE_URL=https://ghstmiubmmfogscpohek.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_LeMHNkzudmA13ipmnTVZ5w_-yA6j4Qh
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_LeMHNkzudmA13ipmnTVZ5w_-yA6j4Qh
SUPABASE_URL=https://ghstmiubmmfogscpohek.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_LeMHNkzudmA13ipmnTVZ5w_-yA6j4Qh
NEXT_PUBLIC_SUPABASE_URL=https://ghstmiubmmfogscpohek.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_LeMHNkzudmA13ipmnTVZ5w_-yA6j4Qh
VITE_GOOGLE_CLIENT_ID=916584105949-3avm21vp2qcls7hv5m9gqpg8luj5fg2n.apps.googleusercontent.com
VITE_TELEGRAM_BOT_USERNAME=Maiser_report_bot
